@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlex-Sans";
  src: url("/fonts/IBMPlexSans-Text.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlex-Mono";
  src: url("/fonts/IBMPlexMono-Text.woff2") format("woff2");
}

@font-face {
  font-family: "IBMPlex-Serif";
  src: url("/fonts/IBMPlexSerif-Text.woff2") format("woff2");
}

body {
  font-family: "IBMPlex-Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* don't change any link colors after visited */
a {
  color: inherit;
  text-decoration: none;
}

/* See more: https://developer.mozilla.org/en-US/docs/Web/CSS/::selection */
::selection {
  @apply bg-indigo-300;
  @apply text-white;
}

/* modify prose class which is from TailwindCSS Typography */
.prose {
  font-family: "IBMPlex-Serif", serif;
  @apply text-black dark:text-white;
  @apply max-w-none;
  @apply text-justify;
}

.prose strong {
  @apply text-black dark:text-white;
}

.prose a {
  @apply text-black dark:text-white;
  @apply underline;
  @apply font-normal;
}

.prose a:hover {
  @apply text-white dark:text-black;
  @apply bg-blue-400;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: "IBMPlex-Sans", sans-serif;
  @apply text-black dark:text-white;
  @apply my-4;
}

.prose h2 {
  @apply text-2xl;
}

.prose code {
  font-family: "IBMPlex-Mono", monospace;
  @apply text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-900;
  @apply px-1 py-0.5;
  @apply border border-gray-100 dark:border-gray-800 rounded-md;
}

/* remove backticks around code tags */
.prose code::after,
.prose code::before {
  content: "";
}

.prose pre {
  font-family: "IBMPlex-Mono", monospace;
  @apply text-gray-800 bg-gray-50 dark:bg-gray-900;
  @apply border border-gray-200 dark:border-gray-700;
}

.prose blockquote {
  @apply text-gray-500 dark:text-gray-400;
}
